<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>loading/loading_00039.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{312,219}}</string>
        <key>offset</key>
        <string>{0,-18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,165},{312,219}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{312,217}}</string>
        <key>offset</key>
        <string>{0,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,167},{312,217}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{312,217}}</string>
        <key>offset</key>
        <string>{0,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,167},{312,217}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,0},{312,217}}</string>
        <key>offset</key>
        <string>{0,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,167},{312,217}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00037.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,0},{312,217}}</string>
        <key>offset</key>
        <string>{0,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,167},{312,217}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,0},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,216},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,217},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00030.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,217},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00031.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,217},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00038.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,217},{312,216}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,168},{312,216}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,432},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,433},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00015.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,433},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00019.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,433},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,433},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,647},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00035.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,862},{312,215}}</string>
        <key>offset</key>
        <string>{0,-20.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,169},{312,215}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,650},{312,212}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,172},{312,212}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1174},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00024.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1486},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1798},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00033.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,1798},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00034.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1798},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00036.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,648},{312,214}}</string>
        <key>offset</key>
        <string>{0,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,170},{312,214}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,648},{312,213}}</string>
        <key>offset</key>
        <string>{0,-21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,171},{312,213}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,861},{312,213}}</string>
        <key>offset</key>
        <string>{0,-21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,171},{312,213}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,1074},{312,213}}</string>
        <key>offset</key>
        <string>{0,-21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,171},{312,213}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00032.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,862},{312,213}}</string>
        <key>offset</key>
        <string>{0,-21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,171},{312,213}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00014.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,1075},{312,212}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,172},{312,212}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,862},{312,212}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,172},{312,212}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1074},{312,211}}</string>
        <key>offset</key>
        <string>{0,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,173},{312,211}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1285},{312,211}}</string>
        <key>offset</key>
        <string>{0,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,173},{312,211}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00016.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,1496},{312,211}}</string>
        <key>offset</key>
        <string>{0,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,173},{312,211}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00025.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,1174},{312,211}}</string>
        <key>offset</key>
        <string>{0,-22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,173},{312,211}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00013.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,862},{312,210}}</string>
        <key>offset</key>
        <string>{0,-23}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,174},{312,210}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00017.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,862},{312,210}}</string>
        <key>offset</key>
        <string>{0,-23}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,174},{312,210}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>loading/loading_00026.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,862},{312,210}}</string>
        <key>offset</key>
        <string>{0,-23}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,174},{312,210}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Loading.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>Loading</string>
    </dict>
  </dict>
</plist>
